<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h2 class="text-center display-3 ">
            Course list</h2>
    </div>
<div th:switch="${courseList}">
    <h2 th:case="${#lists.isEmpty(courseList)}">No courses yet!</h2>
    <div th:case="*">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start"  th:each="course : ${courseList}">
            <div class="ms-2 me-auto">
                <div class="fw-bold" th:text="${course.name}"></div>
                Some description
                <a class="btn btn-primary" th:href="@{/deletecourse/{id}(id=${course.id})}">Delete course</a>
            </div>
            <span class="badge bg-primary rounded-pill" th:text="'course_id = ' + ${course.id}"></span>
        </li>
    </ol>
    </div>
</div>
    <a class="btn btn-primary" href="/newcourse" role="button">Add new course</a>
    <a class="btn btn-primary" href="/backtomain" role="button">Go to main page</a>
</div>

</body>
</html>
