<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manual</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 body">

<div th:insert="~{common :: header}"></div>
<div class="container px-4 px-lg-5">
        <h1 class="text-center display-5 py-5" th:text="'Добро пожаловать в ' + ${manual.name}"></h1>
        <div class="text-start" th:text="${manual.description}"></div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card text-center text-bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Courses</h5>
                        <p class="card-text">This section contains video tutorials that explain how to work with elements of the hardware and software complex. Here you can find both materials for working with software, as well as a visual guide for working with peripheral equipment.</p>
                        <div class="mt-auto position-sticky top-100">
                             <a th:href="@{/{id}/courses(id=${manual.id})}" class="btn btn-primary stretched-link">Go to courses</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center text-bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Tests</h5>
                        <p class="card-text">Some description</p>
                        <div class="mt-auto position-sticky top-100">
                             <a th:href="@{/{id}/tests(id=${manual.id})}" class="btn btn-primary stretched-link">Go to tests</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center text-bg-light">
                    <div class="card-body">
                        <h5 class="card-title">FAQ</h5>
                        <p class="card-text">When working with the system, sometimes atypical situations arise that raise questions from users, Therefore, frequently asked questions and answers to them are collected in this section.</p>
                        <div class="mt-auto position-sticky top-100">
                            <a th:href="@{/{id}/questions(id=${manual.id})}" class="btn btn-primary stretched-link">Go to faq</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center text-bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Materials</h5>
                        <p class="card-text">This section contains documentation on working with the APK: user guides by roles, regulatory documents, etc.</p>
                        <div class="mt-auto position-sticky top-100">
                            <a th:href="@{/{id}/materials(id=${manual.id})}" class="btn btn-primary stretched-link">Go to materials</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<footer class="py-5 bg-dark mt-auto">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; GOZNAK, 2022.</p></div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
