<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Материалы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Offline User Training</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Main page</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Go back</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container px-4 px-lg-5">
    <h1 class="display-4 text-center">Список материалов</h1>
    <div th:switch="${materialList}">
        <h2 th:case="${#lists.isEmpty(materialList)}"></h2>
        <div th:case="*">
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start"  th:each="material, stat : ${materialList}">
                    <div class="ms-2 me-auto">
                        <div class="p-2 mb-2 fs-4" th:text="${stat.count + ')  ' + material.name}"></div>
                        <div class="p-2 mb-2 fs-4" th:text="${material.description}"></div>
                        <div class="d-inline p-2">
                            <a class="btn btn-primary" th:href="@{/{manual_id}/updatematerial/{id}(id=${material.id}, manual_id=${manual.id})}">
                                Изменить материал</a>
                            <a class="btn btn-primary" th:href="@{/{manual_id}/deletematerial/{id}(id=${material.id}, manual_id=${manual.id})}">
                                Удалить материал</a>
                            <a class="btn btn-primary" th:href="@{/downloadmaterial/{id}(id=${material.id})}">
                                Скачать материал</a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/{id}/newmaterial(id=${manual.id})}" role="button">Создать новый материал</a>
    <a class="btn btn-primary" th:href="@{/manual/{id}(id=${manual.id})}" role="button">Перейти к обучалке</a>
    <a class="btn btn-primary" th:href="@{/}" role="button">Перейти на главную</a>
</div>

<footer class="py-5 bg-dark mt-auto">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; GOZNAK, 2022.</p></div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>
