<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Manual</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:insert="~{common :: header}"></div>

<div class="container px-4 px-lg-5 body">
  <div class="text-center display-5 py-5">Новая обучалка</div>
  <form th:object="${manual}" th:action="@{/savemanual}" method="post">
    <label for="name" class="form-label">Имя обучалки</label>
    <input type="text" class="form-control" id="name" placeholder="Имя обучалки" th:field="*{name}" required>
    <label for="description" class="form-label py-2">Описание обучалки</label>
    <textarea class="form-control" id="description" aria-label="Description" placeholder="Описание обучалки" th:field="*{description}"></textarea>

    <div class="vstack gap-2 col-md-3 mx-auto py-2">
      <input type="submit" class="btn btn-primary" value="Создать обучалку">
      <a class="btn btn-primary" th:href="@{/}" role="button">Перейти к списку обучалок</a>
    </div>
  </form>
</div>

<div th:insert="~{common :: footer}"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
