<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/xdrzy7qkxs10wmw35t0w8sglrh9swjmnmnwhbra34vrz9fpm/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:insert="~{common :: header}"></div>

<div class="container px-4 px-lg-5 body">
    <div class="text-center display-4">Вопрос</div>
    <div th:if="${questionName != null}">
        <div class="py-1 mb-2 fs-5">Формулировка вопроса:</div>
        <div class="py-1 mb-2 fs-6" th:text="${questionName}"></div>
    </div>
    <button type="button" class="btn btn-primary" th:if="${questionName != null}" th:onclick="|window.location.href='/editquestionname'|">Изменить формулировку вопроса</button>
    <form th:if="${questionName == null}" th:action="@{/questionname}" th:object="${question}" method="post">
        <label for="questionName" class="form-label py-1 mb-2 fs-5">Формулировка вопроса:</label>
        <input type="text" class="form-control py-1 mb-2 fs-6" id="questionName" placeholder="Формулировка вопроса:" th:field="*{name}" required>
        <input type="submit" class="btn btn-primary" value="Ввести формулировку вопроса">
    </form>
    <div th:if="${answer != null}">
        <div class="py-1 mb-2 fs-5">Ответ:</div>
        <div class="py-1 mb-2 fs-6" th:utext="${answer}"></div>
    </div>
    <button type="button" class="btn btn-primary" th:if="${answer != null}" th:onclick="|window.location.href='/editanswer'|">Изменить ответ</button>
    <form th:if="${answer == null}" th:action="@{/answer}" th:object="${question}" method="post">
        <label for="testDescription" class="form-label py-1 mb-2 fs-5">Ответ:</label>
        <textarea type="text" rows="1" id="testDescription" class="form-control py-1 mb-2 fs-4" th:field="*{answer}" autocomplete="on"></textarea>
        <input name="image" type="file" id="upload" class="hidden" onchange="">
        <script>
            tinymce.init({
                selector: '#testDescription',
                image_advtab: true,
                file_picker_callback: function(callback, value, meta) {
                    if (meta.filetype == 'image') {
                        $('#upload').trigger('click');
                        $('#upload').on('change', function() {
                            var file = this.files[0];
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                callback(e.target.result, {
                                    alt: ''
                                });
                            };
                            reader.readAsDataURL(file);
                        });
                    }
                },
                automatic_uploads: false,
                height: '200',
                plugins: 'autolink lists media table image imagetools',
                toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
                toolbar_mode: 'floating'
            });
        </script>
        <input type="submit" class="btn btn-primary" value="Добавить ответ">
    </form>

    <div class="py-1 mb-2 fs-4">Список тегов: </div>
    <ol class="list-group list-group-flush py-1">
        <li class="list-group-item d-flex justify-content-between align-items-start" th:each="tag, stat: ${tags}">
            <div class="py-0 me-auto fs-5" th:text="${tag.name}"></div>
            <a type="button" class="btn btn-primary"  th:if="${not #strings.contains(tagList, tag.name)}"
               th:href="@{/tachtag/{id}(id=${tag.id})}">Прикрепить тэг</a>
            <a type="button" class="btn btn-primary"  th:if="${#strings.contains(tagList, tag.name)}"
               th:href="@{/detachtag/{id}(id=${tag.id})}">Открепить тэг</a>
        </li>

    </ol>
    <div class="vstack gap-2 col-md-5 mx-auto">
        <a class="btn btn-primary" th:href="@{/savequestion}" th:disabled="${questionName == null}">Сохранить вопрос</a>
        <a class="btn btn-primary" th:href="@{/backtoquestions}" role="button">К списку вопросов</a>
    </div>
</div>

<footer class="py-5 bg-dark mt-auto">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; GOZNAK, 2022.</p></div>
</footer>


<script src="/bootstrap/dist/js/bootstrap.min.js"></script></body>
</html>
