<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Offline User Training</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Main page</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Go back</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container px-4 px-lg-5">
    <div class="text-center display-4">Question</div>
    <form class="row g-3 needs-validation" th:object="${question}" th:action="@{/savequestion}" method="post">
        <div class="col">
            <label for="Name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="name" placeholder="Question name" th:field="*{name}" required>
            <input type="hidden" class="form-control" th:value="${manual_id}" th:name="manual_id" required>
            <div class="valid-feedback">
                Well done!
            </div>
        </div>
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" aria-label="Description" placeholder="Question description" th:field="*{description}"></textarea>
        <input type="submit" class="btn btn-primary" value="Create question">
    </form>
</div>
<a class="btn btn-primary" th:href="@{/{id}/questions(id=${manual_id})}" role="button">Go to question list</a>
<footer class="py-5 bg-dark mt-auto">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; GOZNAK, 2022.</p></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>
